{
   "rules": {
     "brace-style": [1, "1tbs"],
     "consistent-this": [1, "self"],
     "eqeqeq": [1, "smart"],
     "func-style": [1, "declaration"],
     "no-else-return": 1,
     "no-extra-parens": 1,
     "no-extra-semi": 0,
     "no-floating-decimal": 1,
     "no-nested-ternary": 1,
     "no-lonely-if": 1,
     "quotes": [1, "single", "avoid-escape"],
     "radix": 1,
     "semi": [0, "never"],
     "keyword-spacing": [
       "error", {
         "before": true
       }
     ],
     "object-curly-spacing": [1, "always"],
     "space-unary-ops": 1,
     "wrap-iife": ["error", "inside"],
     "no-new": 0,
     "no-underscore-dangle": 0,
     "no-unused-expressions": [
       "error", {
         "allowShortCircuit": true,
         "allowTernary": true
       }
     ]
   },

   "parserOptions": {
     "ecmaVersion": 6
   },

  "globals": {
    "$": false,
    "jQuery": true
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
